body{
    background: linear-gradient(to right, #d5ff00,#057a26);
}
.rolling img{
    /* height: 200px;
    width: 300px;
    background-color: black; */
    border-radius: 50%;
    animation-name: roll;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* border-radius: 50%; */
}

@keyframes roll {
    0%{
        transform:translate(0px) rotate(90deg);
    }
    50%{
        transform:translate(150px) rotate(180deg);
    }
    100%{
        transform:translate(250px) rotate(360deg);
    }
}
.bouncing img{
    animation-name: bouncing;
    animation-duration: 2s;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    position: relative;
    left: 3em;
    top: 10px;
}
@keyframes bouncing {
    0%{
        transform:translateY(150px)
    }
    100%{
        transform: translateY(300px);
    }
    
}
.spinning {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: black 7px solid;
    animation-name: spinning;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    border-top: white 7px solid;
}
@keyframes spinning {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}