body{    margin:0;
    padding: 0;
    
}
.wholesec{
    background-color: #0171F9;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.navbar{
   
    display: flex;
    background-color: #0171F9;
    justify-content: space-around;
    align-items: center;
    /* background-color: #0171F9;  */
    /* background-color: linear-gradient(to bottom right, #0171F9,#007CF8, #0A8BF4); */
    height: 18vh;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius:30px;
    /* position:fixed; */
    width: 100%;
}
.navbar h1{
    color: white;
    position: relative;
    top: 0.2em;
}
.navbar-links {
    display: flex;
    gap: 60px;
    color: white;
    text-decoration: none;
    position: relative;
    right: -3em;
    top: 1em;
    padding: 20px;
    font-size: larger;
}
.navbar-links a{
    text-decoration: none;
    color: white;
}
.navbar-links span{
    background-color: #EE626B;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    top:-0.7em ;
    
}
.Section2{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    gap: 100px;
    /* line-height:0px; */
    /* width: 100%; */
}
.Sec2-info{
    color: white;
    width: 55%;
    position: relative;
    left: -4em;
    
}
.Sec2-info h1{
    font-size: 50px;
    
}
.Sec2-info h3{
    font-size:20px;
}
.Sec2-info p{
    font-size: 20px;
}
.search-button{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    border-radius: 50px;
    gap: 226px;
    height: 30px;

}
.search-button input{
    border: 0;
    outline: 0;
}
.search-button span{
    background-color: #EE626B;
    padding: 10px 40px;
    padding-top: 20px;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    text-align: center;
    /* box-sizing: border-box; */
}
.search-button span:hover{
    background-color: #0171F9;
}

.sec1-img img{
    width: 90%;
    border-radius: 20px;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 60px;
    width: 60px;
    background-color: #EE626B;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    top: -2em;
    left:-1em;
    font-size: 40px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10px;
    width: 30px;
    background-color: #0171F9;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: -23em;
    left:12em;
    font-size: 20px;
}
.image-sec{
    display: flex;
    justify-content: center;
}
.img1 img{
    width:30%;
    height: 30%;
    border-radius: 60%;
    background-color: #0171F9;
    padding: 20px;
   
}
.img1,.img2,.img3,.img4{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    border: 1px solid white;
    box-shadow: 2px 1px grey;
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 250px;
}
.img1{
    position: relative;
    bottom: 12em;
    left: -4em;
}
.img2{
    position: relative;
    bottom: 12em;
    left: -2em;
}

.img2 img{
    width: 40%;
}
.img3 img{
    width: 40%;
}
.img4 img{
    width: 40%;
}
.img3{
    position: relative;
    bottom: 12em;
    left: 0em;
}
.img4{
    position: relative;
    bottom: 12em;
    left: 2em;
}

.carddiv{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card>.img img{
    width: 250px;
    border-radius: 20px;
}
.card{
    background-color: #EEEEEE;
    border-radius:20px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    
}

.bagimg img{
    width: 20px;
    height: 20px;
    background-color: #EE626B;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 2em;
    left: 3em;
}
.bagimg img:hover{
    background-color: #0171F9;
}
.card-info h3 ,p{
    margin-left: 20px;
}
.money p{
    background-color: #0171F9;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    position: relative;
    bottom: 11em;
    right: 2em;
}
.sec-box{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F7F7F7;
    border-radius: 50px;
    padding: 50px;
}
.sec3-main{
    display: flex;
    justify-content: center;
    
}
.sec3-content{
    display: flex;
}
.pandh{
    margin-left: 10px;
    
}
.pandh p{
    margin-left: 0;
    color: #EE626B;
}
.button span{
    background-color: #EE626B;
    padding: 10px 30px;
    border-radius: 30px;
    position: relative;
    top: 3.5em;
    left: 50rem;
    color: white;
}
.button span:hover{
    background-color: #0171F9;
}
.sec3{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.sec3-img{
    margin-top: 40px;

}
.sec3-img img{
    width: 100%;
    border-radius: 30px;
}
.sec3-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.sec3-info h3{
    margin: 0;
    font-weight: 50;
    color: #7A7A94;
}
.sec3-info p{
    font-weight: 900;
    font-size: 20px;
}
.sec3-info span{
    background-color: #EE626B;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

}
.sec3-info span:hover{
    background-color: #0171F9;
}
.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content1 p{
    color: #EE626B;
    font-size:25px;
    margin: 0;
}
.content1 h3{
    font-size: 35px;
    /* margin: 0; */
}
.card-con{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-com{
    background-color: #0171F9;
    padding: 50px 0px 0px 0px;
    border-radius: 20px;
}
.card-con img{
    width: 200px;
    border-radius: 20px;
    
}
.card2 h3{
    color: white;
    position: relative;
    bottom: 13em;
    left: 4em;
}
.con3-box{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.content2{
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin-left: 0;
}
.content2 p{
    color: #EE626B;
    margin-left: 0px;
    font-size: 20px;
}
.content2 h1{
    font-size: 35px;
}
.content2 span{
    color: #0171F9;
}
.content2 h3{
    color: #4A4A4A;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2px;
    border-radius: 30px;
}
.button2 input{
    /* height: 10px; */
    outline: 0;
    border: 0;
}
.content2 h4{
    background-color: #EE626B;
    padding: 5px 20px;
    display: inline;
    border-radius: 20px;
}
.content2 h4:hover{
    background-color: #0171F9;
}
.con3-box img{
    height: 70vh;
    width: 100%;
    z-index: 1;
}
.con-info{
    z-index: 0;
    position: relative;
    top: 5em;
    left: 10em;
}
.con-info2{
    
    position: relative;
    top: 3em;
    z-index: 2;
    right: 12em;
}

footer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #0171F9;
    width: 100%;
    height: 20vh;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    color: white;
}